<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lab 10 - A Database-Backed Authentication System</title>
    <link rel="stylesheet" href="./css/site.css">
</head>

<body>
    {{{body}}}
</body>

</html>