<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>New attempt</title>
    <link rel="stylesheet" href="./css/site.css">
    <script src="https://cdn.tiny.cloud/1/v1byd2a1vsm24ihfomy5dcxl9v0nxhfnbkeb156yx1rs7lxm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
    tinymce.init({
        selector: "#blogContent", // Select the textarea by its ID
        height: 300,
        width: 700,
        plugins: "lists",
        toolbar: "undo redo | formatselect | bold italic | bullist numlist outdent indent",
    });
</script>
</head>

<body>
    {{{body}}}
</body>

</html>