<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Garden With Me</title>
    {{/if}}
    <link rel="stylesheet" type="text/css" href="../../public/css/site.css">
</head>

<body>
    {{{body}}}
</body>

</html>