<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Garden With Me</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <script src="/js/client.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>