{{!-- need to link this page to once they finish the quiz --}}

<body>
    <div class="nav">
        <div class="left-nav">
            <a href="/"><button>Home</button></a>
            <a href="/daily-quiz"><button>Daily Quiz</button></a>
        </div>
        <div class="title">
            <h1>Garden With Me</h1>
        </div>
        <div class="right-nav">
            <a href="/explore"><button>Explore</button></a>
            <a href="/login"><button>Login</button></a>
        </div>
    </div>
    <div class="blog-body" id="daily-quiz-page">
        <div class="scoreboard">
            <h3>Scoreboard</h3>
            <div class="scoreboard-list">
                <ul>
                    <li>
                        <img class="scoreboard-avatar" src="/images/plant1.png">
                        <span class="username">Jane</span>
                        <span class="score">100 Points</span>
                    </li>
                    <li>
                        <img class="scoreboard-avatar" src="/images/plant2.png">
                        <span class="username">John</span>
                        <span class="score">150 Points</span>
                    </li>
                </ul>
                <br>
                <h3>Your Score</h3>
                <div>
                    <img class="scoreboard-avatar" src="/images/plant2.png">
                    <span class="my-username">Anna</span>
                    <span class="score" id="my-score">150 Points</span>
                </div>
            </div>
        </div>
        <div class="quiz-result">
            <h2>Congratulations</h2>
            <p>You have won:</p>
            {{!-- need to create function that shows these randomly and accumulates them into the profile --}}
            <ul>
                <li>
                    <img src="/images/water.png" alt="Water Icon">
                    <span class="water-number">0</span>Water
                </li>
                <li>
                    <img src="/images/sun.png" alt="Sun Icon">
                    <span class="sun-number">0</span>Sun
                </li>
                <li class="new-seed">
                    <img src="/images/seed.png" alt="Seed Icon">
                    1 New Seed
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <h3>About Garden With Me</h3>
        <p>Our vibrant online community brings together green thumbs from across the globe. We invite you to
            join us on this journey of discovery, where you can exchange ideas, seek advice, and showcase your
            own flourishing havens. Whether you're tending to roses in the countryside or nurturing succulents
            on a city windowsill, Garden With Me is here to inspire and unite, making every garden a little more
            magical, one reader at a time.</p>
        <br>
        <p class="copyright">Copyright 2023 - Garden With Me. All rights reserved. We will never rent, trade or sell
            your information to any organization.</p>
    </div>

</body>



{{!--

<body>
    <div class="nav">
        <div class="left-nav">
            <a href="/"><button>Home</button></a>
            <a href="/daily-quiz"><button>Daily Quiz</button></a>
        </div>
        <div class="title">
            <h1>Garden With Me</h1>
        </div>
        <div class="right-nav">
            <a href="/explore"><button>Explore</button></a>
            <a href="/login-signup"><button>Login</button></a>
        </div>
    </div>
    <div class="quiz-body">
        <div class="scoreboard">
            <h3>Scoreboard</h3>
            <div class="scoreboard-list">
                <ul>
                    <li>
                        <img src="/images/placeholderimg.png">
                        <span class="score">100</span>
                    </li>
                    <li>
                        <img src="/images/placeholderimg.png">
                        <span class="score">100</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="quiz-result">
            <h2>Congratulations</h2>
            <p>You have won:</p>
            {{!-- need to create function that shows these randomly and accumulates them into the profile --}}
            <ul>
                <li>
                    <span class="water-number">0</span>Water
                </li>
                <li>
                    <span class="sun-number">0</span>Sun
                </li>
                <li class="new-seed">
                    1 New Seed
                </li>
            </ul>
        </div>
    </div>
</body>

--}}