<body>
    <div class="nav">
        <div class="left-nav">
            <a href="/explore"><button>Explore</button></a>
        </div>
        <div class="title">
            <h1>Garden With Me</h1>
        </div>
        <div class="right-nav">
            <a href="/"><button>Home</button></a>
        </div>
    </div>
    <div class="quiz-body">
        <div class="scoreboard">
            <h3>Scoreboard</h3>
            <div class="scoreboard-list">
                <ul>
                    <li>
                        <img src="/images/placeholderimg.png">
                        <span class="score">100</span>
                    </li>
                    <li>
                        <img src="/images/placeholderimg.png">
                        <span class="score">100</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="quiz">
            <h2>Question:</h2>
            <button>A</button>
            <button>B</button>
            <button>C</button>
            <button>D</button>
          
            <button id="nextBtn">Next</button>
        </div>
    </div>
</body>
