{{!-- need to link this page to once they finish the quiz  --}}
<body>
    <div class="nav">
        <div class="left-nav">
            <a href="/"><button>Home</button></a>
            <a href="/daily-quiz"><button>Daily Quiz</button></a>
        </div>
        <div class="title">
            <h1>Garden With Me</h1>
        </div>
        <div class="right-nav">
            <a href="/explore"><button>Explore</button></a>
            <a href="/login-signup"><button>Login</button></a>
        </div>
    </div>
    <div class="quiz-body">
        <div class="scoreboard">
            <h3>Scoreboard</h3>
            <div class="scoreboard-list">
                <ul>
                    <li>
                        <img src="/images/placeholderimg.png">
                        <span class="score">100</span>
                    </li>
                    <li>
                        <img src="/images/placeholderimg.png">
                        <span class="score">100</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="quiz-result">
            <h2>Congratulations</h2>
            <p>You have won:</p>
             {{!-- need to create function that shows these randomly and accumulates them into the profile  --}}
            <ul>
                <li>
                    <span class="water-number">0</span>Water
                </li>
                <li>
                    <span class="sun-number">0</span>Sun
                </li>
                <li class="new-seed">
                    1 New Seed
                </li>
            </ul>
        </div>
    </div>
</body>
