<body>
    <div class="container">
        <div class="nav">
            <div class="left-nav">
                <a href="/"><button>Home</button></a> <!-- Navigate to the homepage -->
                <a href="/daily-quiz"><button>Daily Quiz</button></a> <!-- Navigate to the daily quiz page -->
            </div>
            <div class="title">
                <h1>Garden With Me</h1>
            </div>
            <div class="right-nav">
                <a href="/explore"><button>Explore</button></a> <!-- Navigate to the explore page -->
                <a href="/login-signup"><button>Login</button></a> <!-- Navigate to the login/signup page -->
            </div>
        </div>
        <div class="blog-body">
            <img src="/images/placeholderimg.png">
            <img src="/images/placeholderimg.png">
            <img src="/images/placeholderimg.png">
        </div>
        <div class="footer">
            <h3>About Garden With Me</h3>
            <p>Our vibrant online community brings together green thumbs from across the globe. We invite you to
                join us on this journey of discovery, where you can exchange ideas, seek advice, and showcase your
                own flourishing havens. Whether you're tending to roses in the countryside or nurturing succulents
                on a city windowsill, Garden With Me is here to inspire and unite, making every garden a little more
                magical, one reader at a time.</p>
            <br>
            <p class="copyright">Copyright 2023 - Garden With Me. All rights reserved. We will never rent, trade or sell
                your information to any organization.</p>
        </div>
    </div>
</body>