<body>
    <div class="nav">
        <div class="left-nav">
            <a href="/"><button>Home</button></a> <!-- Navigate to the homepage -->
            <a href="/daily-quiz"><button>Daily Quiz</button></a> <!-- Navigate to the daily quiz page -->
        </div>
        <div class="title">
            <h1>Garden With Me</h1>
        </div>
        <div class="right-nav">
            <a href="/explore"><button>Explore</button></a> <!-- Navigate to the explore page -->
            <a href="/login-signup"><button>Login</button></a> <!-- Navigate to the login/signup page -->
        </div>
    </div>
    <div class="blog-body">
        <img src="/images/placeholderimg.png">
        <img src="/images/placeholderimg.png">
        <img src="/images/placeholderimg.png">
    </div>
</body>
