<body>
    <div id="nav">
        <div id="left-nav">
            <button>Home</button>
            <button>Daily Quiz</button>
        </div>
        <div id="title">
            <h1>Garden With Me</h1>
        </div>
        <div id="right-nav">
            <button>Explore</button>
            <button>Login</button>
        </div>
    </div>
    <div id="explore-body">
        <img src="../public/images/placeholderimg.png">
        <img src="../public/images/placeholderimg.png">
        <img src="../public/images/placeholderimg.png">
    </div>
</body>