<body>
    <div id="sign-up">
        <h1>Sign Up:</h1>
        <button>Submit</button>
    </div>
    <div id="login">
        <h1>Login to existing account:</h1>
        <button>Login</button>
    </div>
</body>