<body>
    <div id="profile-nav">
        <div id="profile-name">
            <h1>Jane Doe</h1>
        </div>
        <div id="profile-nav">
            <button>Home</button>
            <button>Explore</button>
            <button>Daily Quiz</button>
        </div>
    </div>
    <div id="profile-body">
        <div id="about-profile-body">
            <div id="about-me-section">
                <h3>About Me:</h3>
                <p id="about-me-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                <button>edit</button>
            </div>
            <div>
                <img src="../public/images/placeholderimg.png">
                <button>edit</button>
            </div>
        </div>
        <div id="dont-kill-my-plant">
            <img src="../public/images/placeholderimg.png">
            <button>water</button>
            <button>sun</button>
            <button>change seed</button>
        </div>
        <div id="add-blogpost">
            <button>Add Post</button>
        </div>
    </div>
</body>