<body>
    <div class="container">
        <div class="nav">
            <div class="left-nav">
                <a href="/"><button>Home</button></a> <!-- Navigate to the homepage -->
                <a href="/daily-quiz"><button>Daily Quiz</button></a> <!-- Navigate to the daily quiz page -->
            </div>
            <div class="title">
                <h1>Garden With Me</h1>
            </div>
            <div class="right-nav">
                <a href="/explore"><button>Explore</button></a> <!-- Navigate to the explore page -->
                <a href="/login-signup"><button>Login</button></a> <!-- Navigate to the login/signup page -->
                <a href="/profile"><button>Profile</button></a>
            </div>
        </div>
        <div class="blog-body">
            <div class="top-home-body">
                <img class="wide-image"
                    src="https://images.unsplash.com/photo-1611735341450-74d61e660ad2?auto=format&fit=crop&q=80&w=3538&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </div>

            <div class="middle-home-body">
                <img class="link-blog-image"
                    src="https://images.unsplash.com/photo-1601001815894-4bb6c81416d7?auto=format&fit=crop&q=80&w=3540&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <p class="description">
                    Welcome to our Garden With Me oasis, where the beauty of nature unfolds in every petal and leaf. In
                    this
                    green haven, we'll embark on a journey through the seasons, nurturing both plants and the soul. From
                    the scent of freshly bloomed flowers to the satisfying crunch of soil beneath your fingertips, our
                    blog is your gateway to a world of horticultural delights. Whether you're a seasoned gardener or a
                    novice with a curious spirit, join us as our community share tips, tricks, and the sheer joy of
                    cultivating
                    life from the earth. Let's sow the seeds of inspiration together and watch them flourish.
                </p>
                <button class="find-more-in-explore">Explore</button>
            </div>
            <div class="bottom-home-body">
                <img class="blog-image"
                    src="https://images.unsplash.com/photo-1621272156568-7306716648df?auto=format&fit=crop&q=80&w=3387&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img class="blog-image"
                    src="https://images.unsplash.com/photo-1615671524827-c1fe3973b648?auto=format&fit=crop&q=80&w=2000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img class="blog-image"
                    src="https://plus.unsplash.com/premium_photo-1678382345446-a85d04a5e95b?auto=format&fit=crop&q=80&w=3387&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </div>
            <div class="footer">
                <h3>About Garden With Me</h3>
                <p>Our vibrant online community brings together green thumbs from across the globe. We invite you to
                    join us on this journey of discovery, where you can exchange ideas, seek advice, and showcase your
                    own flourishing havens. Whether you're tending to roses in the countryside or nurturing succulents
                    on a city windowsill, Garden With Me is here to inspire and unite, making every garden a little more
                    magical, one reader at a time.</p>
                <br>
                <p class="copyright">Copyright 2023 - Garden With Me. All rights reserved. We will never rent, trade or
                    sell your information to any organization.</p>
            </div>
        </div>
    </div>
</body>