
<body>
    <div id="nav">
        <div id="left-nav">
            <h5>Home</h5>
            <h5>Daily Quiz</h5>
        </div>
        <div id="title">
            <h1>Garden With Me</h1>
        </div>
        <div id="right-nav">
        <h5>Explore</h5>
        <h5>Login</h5>
        </div>
    </div>
    <div id="homebody">
        
        <img src="">
    </div>
</body>