{{!-- <h1>My stuff:</h1>
<ul>
    {{#each allTestData}}
    <li>{{this.stuff}}</li>
    {{/each}}
</ul>

<h1>A dragon:</h1> --}}

<body>
    <div id="nav">
        <h1>Garden With Me</h1>
        <h5>Home</h5>
        <h5>Daily Quiz</h5>
        <h5>Explore</h5>
        <h5>Login</h5>
    </div>
    <div id="homebody">
        <img src="">
    </div>
</body>